<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auth.mapper.TbSystemLogInfoMapper">
  <resultMap id="BaseResultMap" type="com.pojo.entity.TbSystemLogInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="event_id" jdbcType="INTEGER" property="eventId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="operate" jdbcType="SMALLINT" property="operate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, event_id, description, operate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_system_log_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_system_log_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pojo.entity.TbSystemLogInfo">
    insert into tb_system_log_info (id, event_id, description, 
      operate)
    values (#{id,jdbcType=BIGINT}, #{eventId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{operate,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.entity.TbSystemLogInfo">
    insert into tb_system_log_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="eventId != null">
        event_id,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="operate != null">
        operate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="eventId != null">
        #{eventId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="operate != null">
        #{operate,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.entity.TbSystemLogInfo">
    update tb_system_log_info
    <set>
      <if test="eventId != null">
        event_id = #{eventId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="operate != null">
        operate = #{operate,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.entity.TbSystemLogInfo">
    update tb_system_log_info
    set event_id = #{eventId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      operate = #{operate,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.pojo.entity.TbSystemLogInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="event_id" jdbcType="INTEGER" property="eventId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="operate" jdbcType="SMALLINT" property="operate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, event_id, description, operate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_system_log_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_system_log_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pojo.entity.TbSystemLogInfo">
    insert into tb_system_log_info (id, event_id, description, 
      operate)
    values (#{id,jdbcType=BIGINT}, #{eventId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{operate,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.entity.TbSystemLogInfo">
    insert into tb_system_log_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="eventId != null">
        event_id,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="operate != null">
        operate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="eventId != null">
        #{eventId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="operate != null">
        #{operate,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.entity.TbSystemLogInfo">
    update tb_system_log_info
    <set>
      <if test="eventId != null">
        event_id = #{eventId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="operate != null">
        operate = #{operate,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.entity.TbSystemLogInfo">
    update tb_system_log_info
    set event_id = #{eventId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      operate = #{operate,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>